# Server
HOST=0.0.0.0
PORT=8000
WORKERS=1

# Training
TRAIN_EPOCHS=20
LEARNING_RATE=0.001
TRAIN_BATCH_SIZE=128
TEST_BATCH_SIZE=128
NUM_WORKERS=2

CIFAR10_MEAN="(0.4914, 0.4822, 0.4465)"
CIFAR10_STD="(0.2470, 0.2435, 0.2616)"

API_KEY="my_very_secret_key"
log_to_file="False"
log_level="INFO"